# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

ws/__pycache__
ws/utils/__pycache__
ws/kf/__pycache__
ws/dict/__pycache__
ws/base/__pycache__
ws/adit/__pycache__
ws/scan/__pycache__
ws/net/__pycache__
ws/chains/__pycache__
ws/caller/__pycache__
ws/abi/__pycache__